<ng-map center="52.4784871, 13.3108898" 
        zoom="5" 
        tilt="60"  
        class="uk-height-viewport" >

          <marker id='{{x.BP}}' ng-repeat="x in positions | filter : fill.qty" 
                  position="[{{x.LONG}}, {{x.LAT}}]" title="'{{x.BP}}'"
                  icon="{{getIcon(x.NETVALUE)}}" on-click="showDetail(x)"
                  data-uk-modal="{target:'#item'}" > 
          </marker> 

           
</ng-map>


<div class="uk-navbar uk-position-absolute" style="position: fixed; top: 0; right:0; border: 2px solid black; height: 50px">
  <div class="uk-navbar-flip">
    <ul class="uk-navbar-nav">
      <li>
        <a href="" class="uk-navbar-nav-subtitle uk-text-center">
            <img src="../images/green25.ICO" alt=""/>  
            <div class="uk-margin-small-top uk-text-bold">Net Value Less Than 25</div>
        </a>
      </li>
      <li>
        <a href="" class="uk-navbar-nav-subtitle uk-text-center">
            <img src="../images/blue25.ICO" alt=""/>  
            <div class="uk-margin-small-top uk-text-bold">Net Value Less Than 40</div>
        </a>
      </li>
      <li>
        <a href="" class="uk-navbar-nav-subtitle uk-text-center">
            <img src="../images/orange25.ICO" alt=""/>  
            <div class="uk-margin-small-top uk-text-bold">Net Value Less Than 100</div>
        </a>
      </li>
      <li>
        <a href="" class="uk-navbar-nav-subtitle uk-text-center">
            <img src="../images/red25.ICO" alt=""/>  
            <div class="uk-margin-small-top uk-text-bold">Net Value Less Than 500</div>
        </a>
      </li>
      <li>
        <a href="" class="uk-navbar-nav-subtitle uk-text-center">
            <img src="../images/bahut25.ICO" class="uk-responsive-height" alt=""/>  
            <div class="uk-margin-small-top uk-text-bold">Net Value Greater Than 500</div>
        </a>
      </li>
      
      
    </ul>
  </div>
</div>



<div id="item" class="uk-modal">
    <div class="uk-modal-dialog">
      <a class="uk-modal-close uk-close"></a>

      <div class="uk-text-large uk-text-bold">Business Partner - {{itemData.BP}} <hr></div>
        
        <div class="uk-panel uk-text-bold">
          Order Number : {{itemData.VBELN}}  <br>
          Order Description : {{itemData.DESC}}  <br>
          Created On : {{itemData.ERDAT}}  <br>  
          Total Quantity : {{itemData.QTY}} <br>
          Net Value  : {{itemData.NETVALUE}} <br>

          <hr>


        </div> 
      
      <div class="uk-modal-footer">
        <div class="uk-grid">
          <div class="uk-width-1-2 uk-text-left">
            <span class="uk-text-muted uk-text-small">Total Orders from same BP : {{itemData.ORD}} </span>
          </div>
          <div class="uk-width-1-2 uk-text-right ">
            <button type="button" class="uk-button uk-button-success uk-modal-close">Close</button>
          </div>
        </div> 
        
      </div>
    </div>
</div>